
body {
    margin: auto;
    background-image: url("IMG/BackgroundHomemmmmm.jpg");
    background-size: cover;
}

/*BODY DIV*/
#parentAll {
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 900;

}

.foo {
    min-height: 100vh;
    color: white;
    text-transform: uppercase;
}

.Line {
    width: 10%;
    height: 100%;
    margin: auto;
}

#parentAll img {
    display: none;
    height: 50%;
    width: 52%;
    position: relative;
    /*margin-left: -10%;*/
    margin-top: -10%;
}

#Gallery {
    float: left;
    background-color: #94f4e9;
}

#Education {
    float: left;
    background-color: #e3f190;
}

#Article {
    float: left;
    background-color: #8fc5f3
}

#AboutMe {
    float: left;
    background-color: #f4c692
}

#Empty-a {
    background-color: #d695f3;
    float: left;
}

#login {
    float: left;
    background-color: #aaf191;
}

#Empty-b {
    background-color: #f29e93;
    float: left;
}

#Empty-c {
    background-color: #8fbcf3;
    float: left;
}

#Empty-d {
    background-color: #f4d092;
    float: left;
}

#Empty-e {
    background-color: #94f4e9;
    float: left;
}

/*ImageLoding*/
.parentImageMenu {
    width: 100%;
    height: 54%;
    position: fixed;
    top: 35%;
    z-index: 1;
}

.img {

    width: 10%;
    height: 256px;
    float: left;
    background-size: cover;
}

.oneLine {
    display: block;
    background-image: url("IMG/Gallery.png");
    z-index: -1;
}

.TwoLine {
    background-image: url("IMG/Education.png");
}

.threeLine {
    background-image: url("IMG/Article.png");
}

.fourLine {
    background-image: url("IMG/AbautMe.png");
}

.fiveLine {
    background-image: url("IMG/SaveOrderMe.png");
}

.sixLine {
    background-image: url("IMG/LogIn.png");
}

.sevenLine {
    background-image: url("IMG/YesOrNo2.png");
}

/*PageS Galery Arti......Delete Later*/
#Div1 {
    background-color: #94f4e9;
    width: 100%;
    height: 100%;
    position: fixed;
    /*left: 10%;*/
    z-index: 2000;
    display: none;
    margin: auto;
}

#Div2 {
    background-color: #e3f190;
    width: 100%;
    height: 100%;
    position: fixed;
    /*left: 10%;*/
    z-index: 2000;
    display: none;
    margin: auto;
}

#Div3 {
    background-color: #8fc5f3;
    width: 100%;
    height: 100%;
    position: fixed;
    /*left: 10%;*/
    z-index: 2000;
    display: none;
    margin: auto;
}

#Div4 {
    background-color: #f4c692;
    width: 100%;
    height: 100%;
    position: fixed;
    /*left: 10%;*/
    z-index: 2000;
    display: none;
    margin: auto;
}

#Div5 {
    background-color: #d695f3;
    width: 100%;
    height: 100%;
    position: fixed;
    /*left: 10%;*/
    z-index: 2000;
    display: none;
    margin: auto;

}

#Div6 {
    background-color: #aaf191;
    width: 100%;
    height: 100%;
    position: fixed;
    /*left: 10%;*/
    z-index: 2000;
    display: none;
    margin: auto;
}

/*FabFlout*/
.parentFab {
    position: fixed;
    right: 0;
    bottom: 0px;
    text-align: right;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
    left: auto;
    width: 710px !important;
}

#share {
    position: fixed;
    bottom: 2%;
    right: 3%;
    height: 50px;
    width: 50px;
    background-color: #94f4e9;
    border-radius: 50%;
    box-shadow: 0 0 6px #878787;
    cursor: pointer;
    z-index: 3;
    background-image: url(http://www.zupimages.net/up/15/27/enby.png);
    background-position: 46% center;
    background-size: 16px auto;
    background-repeat: no-repeat;
}

input {
    display: none;
}

#share ~ span {
    z-index: 2;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    bottom: 25px;
    right: 25px;
    opacity: 0;
    transition: 0.5s ease;
    cursor: pointer;
}

input:checked ~ #share ~ span {
    box-shadow: 0 0 8px #878787;
    opacity: 1;
}

#facebook {
    background: #DD4B39 url("IMG/Social Networks/Facebook.png") center no-repeat;
}

input:checked ~ #share ~ #facebook {
    bottom: 90px;
}

#twitter {
    background: #2AA9E0 url("IMG/Social Networks/Twitter.png") center no-repeat;
}

input:checked ~ #share ~ #twitter {
    bottom: 140px;
}

#googleplus {
    background: #DD4B39 url("IMG/Social Networks/Gogleplus.png") center no-repeat;
}

input:checked ~ #share ~ #googleplus {
    bottom: 190px;
}

#instagram {
    background: #a0a0a0 url("IMG/Social Networks/Instagram.png") center no-repeat;
}

input:checked ~ #share ~ #instagram {
    bottom: 240px;
}

#telegram {
    background: #a0a0a0 url("IMG/Social Networks/Telegram.png") center no-repeat;
}

input:checked ~ #share ~ #telegram {
    bottom: 290px;
}

#pinterest {
    background: #a0a0a0 url("IMG/Social Networks/Pinterest.png") center no-repeat;
}

input:checked ~ #share ~ #pinterest {
    bottom: 340px;
}

#vero {
    background: #a0a0a0 url("IMG/Social Networks/Vero.png") center no-repeat;
}

input:checked ~ #share ~ #vero {
    bottom: 390px;
}

#viber {
    background: #a0a0a0 url("IMG/Social Networks/Viber.png") center no-repeat;
}

input:checked ~ #share ~ #viber {
    bottom: 440px;
}

#whatsapp {
    background: #a0a0a0 url("IMG/Social Networks/Whatsapp.png") center no-repeat;
}

input:checked ~ #share ~ #whatsapp {
    bottom: 490px;
}

#linkdin {
    background: #a0a0a0 url("IMG/Social Networks/Linkdin.png") center no-repeat;
}

input:checked ~ #share ~ #linkdin {
    bottom: 540px;
}

/*.........................................*/
@media only screen and (max-width: 1024px) {
    .img {
        width: 13%;
        /* height: 53vh; */
        background-size: cover;
        margin-left: -20px;
    }
    #share {
        position: fixed;
        bottom: 0%;
        right: 3%;
        height: 40px;
        width: 40px;
        background-color: #94f4e9;
        border-radius: 50%;
        box-shadow: 0 0 6px #878787;
        cursor: pointer;
        z-index: 3;
        background-image: url(http://www.zupimages.net/up/15/27/enby.png);
        background-position: 46% center;
        background-size: 16px auto;
        background-repeat: no-repeat;
    }
    #share ~ span {
        z-index: 2;
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        bottom: 25px;
        right: 25px;
        opacity: 0;
        transition: 0.5s ease;
        cursor: pointer;
        margin-bottom: -4%;
    }

    /*.img {*/
        /*margin-left: -28px;*/
        /*width: 14%;*/
        /*!* height: 256px; *!*/
        /*float: left;*/
        /*background-size: cover;*/
    /*}*/
    .parentImageMenu {
        width: 90%;
        height: 72%;
        margin-top: -10%;
        position: fixed;
        z-index: 1;
    }
    /*#share ~ span {*/
        /*z-index: 2;*/
        /*position: absolute;*/
        /*height: 40px;*/
        /*width: 40px;*/
        /*border-radius: 50%;*/
        /*bottom: 25px;*/
        /*right: 25px;*/
        /*opacity: 0;*/
        /*transition: 0.5s ease;*/
        /*cursor: pointer;*/
        /*margin-bottom: -4%;*/
    /*}*/
}

@media only screen and (max-width: 768px) {
    .parentImageMenu {
        width: 90%;
        height: 72%;
        margin-top: -10%;
        position: fixed;
        z-index: 1;
    }

    .img {
        width: 100px;
        height: 25vh;
        background-size: cover;
        margin-left: -20px;
    }
    #share {
        position: fixed;
        bottom: 0%;
        right: 3%;
        height: 40px;
        width: 40px;
        background-color: #94f4e9;
        border-radius: 50%;
        box-shadow: 0 0 6px #878787;
        cursor: pointer;
        z-index: 3;
        background-image: url(http://www.zupimages.net/up/15/27/enby.png);
        background-position: 46% center;
        background-size: 16px auto;
        background-repeat: no-repeat;
    }
    #share ~ span {
        z-index: 2;
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        bottom: 25px;
        right: 25px;
        opacity: 0;
        transition: 0.5s ease;
        cursor: pointer;
        margin-bottom: -4%;
    }
}

@media only screen and (max-width: 425px) {
    .foo {
        min-height: 20vh;
        color: white;
        text-transform: uppercase;
    }

    .Line {
        width: 100%;
        height: 10%;
        margin: auto;
    }

    .parentImageMenu {
        width: 100%;
        height: 40%;
        margin-top: -45%;
        position: fixed;
        z-index: 1;
    }

    .img {
        width: 100%;
        height: 14.2vh;
        float: none;
        margin-left: 0;
        background-size: cover;
    }

    .oneLine {
        display: block;
        background-image: url("IMG/ResponsiveImgMenu/BackGallery.png");
    }

    .TwoLine {
        display: block;
        background-image: url("IMG/ResponsiveImgMenu/BackEgucation.png");
    }

    .threeLine {
        display: block;
        background-image: url("IMG/ResponsiveImgMenu/BackArticle.png");
    }

    .fourLine {
        display: block;
        background-image: url("IMG/ResponsiveImgMenu/BackAboutMe.png");
    }

    .fiveLine {
        display: block;
        background-image: url("IMG/ResponsiveImgMenu/BackOrderMe.png");
    }

    .sixLine {
        display: block;
        background-image: url("IMG/ResponsiveImgMenu/BackLogIn.png");
    }

    .sevenLine {
        background-image: url("IMG/ResponsiveImgMenu/BackYesorNo.png");
    }

    #parentAll img {
        display: none;
        width: 73px;
        position: relative;
        margin-left: 360px;
        margin-top: 0;
    }

    #Gallery, #Education, #Article, #AboutMe, #Empty-a, #login, #Empty-b, #Empty-c, #Empty-d, #Empty-e {
        float: none;
        background: none;
    }

    #Empty-c {
        background-image: url("IMG/ResponsiveImgMenu/BackgroundHomemmmmmRR.png") !important;
        background-size: cover;

    }

    #Empty-b {
        background-image: url("IMG/ResponsiveImgMenu/BackgroundHomemmmmmRR.png") !important;
        background-size: cover;

    }

    /*Fab*/
    #share {
        z-index: 3;
        position: fixed;
        bottom: 0% !important;
        right: 1%;
        height: 40px;
        width: 40px;
        background-color: #000000;
        border-radius: 50%;
        box-shadow: 0 0 6px #878787;
        cursor: pointer;
        background-image: url(http://www.zupimages.net/up/15/27/enby.png);
        background-position: 46% center;
        background-size: 16px auto;
        background-repeat: no-repeat;
    }

    #share ~ span {
        z-index: 2;
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        /* bottom: 25px; */
        right: 25px;
        opacity: 0;
        transition: 0.5s ease;
        cursor: pointer;
        margin-bottom: 0%;
    }

    input:checked ~ #share ~ #facebook {
        right: 62px;
        bottom: 13%;
    }

    input:checked ~ #share ~ #twitter {
        right: 61px;
        bottom: 48%
    }

    input:checked ~ #share ~ #googleplus {
        right: 108px;
        bottom: 51%;
    }

    input:checked ~ #share ~ #vero {
        right: 229px;
        bottom: 13%;
    }

    input:checked ~ #share ~ #viber {
        right: 188px;
        bottom: 49%;
    }

    input:checked ~ #share ~ #instagram {
        right: 14px;
        bottom: 49%;
    }

    input:checked ~ #share ~ #linkdin {
        right: 108px;
        bottom: 12%;
    }

    input:checked ~ #share ~ #telegram {
        right: 150px;
        bottom: 13%;
    }

    input:checked ~ #share ~ #pinterest {
        right: 189px;
        bottom: 13%;
    }

    input:checked ~ #share ~ #whatsapp {
        right: 151px;
        bottom: 49%;
    }
}

@media only screen and (max-width: 375px) {
    .foo {
        min-height: 20vh;
        color: white;
        text-transform: uppercase;
    }

    .Line {
        width: 100%;
        height: 10%;
        margin: auto;
    }

    .parentImageMenu {
        width: 100%;
        height: 40%;
        margin-top: -51%;
        position: fixed;
        z-index: 1;
    }

    .img {

        width: 100%;
        height: 14.2vh;
        float: none;
        margin-left: 0;
        background-size: cover;
    }

    .oneLine {
        display: block;
        background-image: url("IMG/ResponsiveImgMenu/BackGallery.png");
    }

    .TwoLine {
        display: block;
        background-image: url("IMG/ResponsiveImgMenu/BackEgucation.png");
    }

    .threeLine {
        display: block;
        background-image: url("IMG/ResponsiveImgMenu/BackArticle.png");
    }

    .fourLine {
        display: block;
        background-image: url("IMG/ResponsiveImgMenu/BackAboutMe.png");
    }

    .fiveLine {
        display: block;
        background-image: url("IMG/ResponsiveImgMenu/BackOrderMe.png");
    }

    .sixLine {
        display: block;
        background-image: url("IMG/ResponsiveImgMenu/BackLogIn.png");
    }

    .sevenLine {
        background-image: url("IMG/ResponsiveImgMenu/BackYesorNo.png");
    }

    #parentAll img {
        display: none;
        width: 18%;
        position: relative;
        margin-left: 360px;

    }

    #Gallery, #Education, #Article, #AboutMe, #Empty-a, #login, #Empty-b, #Empty-c, #Empty-d, #Empty-e {
        float: none;
        background: none;

    }

    #Empty-c {
        background-image: url("IMG/ResponsiveImgMenu/BackgroundHomemmmmmRR.png") !important;
        background-size: cover;

    }

    #Empty-b {
        background-image: url("IMG/ResponsiveImgMenu/BackgroundHomemmmmmRR.png") !important;
        background-size: cover;

    }
}

@media only screen and (max-width: 320px) {
    .foo {
        min-height: 20vh;
        color: white;
        text-transform: uppercase;
    }

    .Line {
        width: 100%;
        /*height: 5%;*/
        margin: auto;
    }

    .parentImageMenu {
        width: 100%;
        height: 40%;
        margin-top: -60%;
        position: fixed;
        z-index: 1;
    }

    .img {

        width: 100%;
        height: 14.2vh;
        float: none;
        margin-left: 0;
        background-size: cover;
    }

    .oneLine {
        display: block;
        background-image: url("IMG/ResponsiveImgMenu/BackGallery.png");
    }

    .TwoLine {
        display: block;
        background-image: url("IMG/ResponsiveImgMenu/BackEgucation.png");
    }

    .threeLine {
        display: block;
        background-image: url("IMG/ResponsiveImgMenu/BackArticle.png");
    }

    .fourLine {
        display: block;
        background-image: url("IMG/ResponsiveImgMenu/BackAboutMe.png");
    }

    .fiveLine {
        display: block;
        background-image: url("IMG/ResponsiveImgMenu/BackOrderMe.png");
    }

    .sixLine {
        display: block;
        background-image: url("IMG/ResponsiveImgMenu/BackLogIn.png");
    }

    .sevenLine {
        background-image: url("IMG/ResponsiveImgMenu/BackYesorNo.png");
    }

    #parentAll img {
        display: none;
        width: 18%;
        position: relative;
        margin-left: 360px;

    }

    #Gallery, #Education, #Article, #AboutMe, #Empty-a, #login, #Empty-b, #Empty-c, #Empty-d, #Empty-e {
        float: none;
        background: none;

    }

    #Empty-c {
        background-image: url("IMG/ResponsiveImgMenu/BackgroundHomemmmmmRR.png") !important;
        background-size: cover;

    }

    #Empty-b {
        background-image: url("IMG/ResponsiveImgMenu/BackgroundHomemmmmmRR.png") !important;
        background-size: cover;

    }
}