<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-reboot.css">
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
    <script src="http://code.angularjs.org/1.2.13/angular-animate.js"></script>

</head>
<body>
<div class="container">
    <img ng-src="{{image.url}}"
         alt="{{image.name}}"
         ng-repeat="image in images"
         class="gallery-image fade-animation"
         ng-click="openInNewWindow($index)"
         ng-show="nowShowing==$index">
</div>
</body>
</html>
<script>
    btnLoginEl.click().then(function () {
        // do some stuff
    });
</script>